[submodule "lib/seaport"]
	path = lib/seaport
	url = https://github.com/ProjectOpenSea/seaport.git
	branch = v1.4
[submodule "lib/seadrop"]
	path = lib/seadrop
	url = https://github.com/ProjectOpenSea/seadrop.git
[submodule "contracts-upgradeable/lib-upgradeable/openzeppelin-contracts-upgradeable"]
	path = contracts-upgradeable/lib-upgradeable/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable.git
[submodule "contracts-upgradeable/lib-upgradeable/ERC721A-Upgradeable"]
	path = contracts-upgradeable/lib-upgradeable/ERC721A-Upgradeable
	url = https://github.com/chiru-labs/ERC721A-Upgradeable.git
