node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts/
hh-cache/
hh-cache-coverage/
temp-src-coverage/
.openzeppelin/

#foundry test compilation files
cache
out
reference-out
optimized-out
reference-working
broadcast
build
lib2

.DS_Store

# VScode
.vscode
__pycache__

# use typescript instead of javascript
*.js
*.txt
deployment-addresses-*.json